/*  your css code here. If applicable */
#yellow{
	background-color:yellow;
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-top-width:3px;
	border-bottom-width:3px;
	border-left-width:3px;
	border-right-width:3px;
}
#red{
	background-color:red;
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-top-width:3px;
	border-bottom-width:3px;
	border-left-width:3px;
	border-right-width:3px;
}
#green{
	background-color:green;
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-top-width:3px;
	border-bottom-width:3px;
	border-left-width:3px;
	border-right-width:3px;
}